<?xml version="1.0"?>
<ruleset name="Easy Primary Category Ruleset">
	<description>Coding Rules for Easy Primary Category project</description>

	<!-- Exclude index.php files kept only to prevent directory listing. -->
	<exclude-pattern>*/index.php</exclude-pattern>

	<!-- Exclude the Node Modules directory. -->
	<exclude-pattern>/node_modules/*</exclude-pattern>
	
	<!-- Exclude the tests directory. -->
	<exclude-pattern>/tests/*</exclude-pattern>

	<!-- Exclude the bin directory. -->
	<exclude-pattern>/bin/*</exclude-pattern>

	<!-- Exclude Gruntfile.js. -->
	<exclude-pattern>Gruntfile.js</exclude-pattern>
	
	<!-- Exclude minified Javascript files. -->
	<exclude-pattern>*.min.js</exclude-pattern>
	
	<!-- Exclude minified CSS files. -->
	<exclude-pattern>*.min.css</exclude-pattern>

	<!-- Include the WordPress standards. -->
	<rule ref="WordPress" />
	
	<!-- We need that query -->
	<rule ref="WordPress.VIP.SlowDBQuery.slow_db_query_meta_query">
		<exclude-pattern>class-easy-primary-frontend.php</exclude-pattern>
	</rule>
	
	<!-- Function is being used within a caching function. -->
	<rule ref="WordPress.VIP.RestrictedFunctions.term_exists_term_exists">
		<exclude-pattern>class-easy-primary-frontend.php</exclude-pattern>
	</rule>

</ruleset>